audioread==2.1.8
ffmpeg==1.4
ipython==7.11.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
librosa==0.7.2
matplotlib==3.1.2
numpy==1.15.0
pandas==0.25.3
scipy==1.4.1
seaborn==0.9.0
sklearn==0.0
SoundFile==0.10.3.post1
torch==1.4.0
torchaudio==0.4.0
torchvggish==0.1
